<h1>
  Operating Heavily Dynamic UI's
  <br>
  <small><i>Event Sourcing & CQRS in th frontend</i></small>
</h1>



<div #TimerDisplay
     class="countdownHolder">

  <ng-container #myContainer></ng-container>

</div>

<button #BtnStart
        type="button">
  Start
</button>

<button #BtnPause
        type="button">
  Pause
</button>

<br />

<button type="button"
        #BtnSetTo>
  Set To
</button>
<input #InputSetTo
       style="width:40px"
       type="number"
       min=0
       [value]="initialSetTo" />
<!-- I'm sorry for this, but I was lazy.. :) -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button type="button"
        #BtnReset>
  Reset
</button>

<br />

<button type="button"
        #BtnUp>
  Count Up
</button>

<button type="submit"
        type="button"
        #BtnDown>
  Count Down
</button>

<br />

<label>
  Tick Speed
</label>
<input #InputTickSpeed
       style="width:60px"
       type="number"
       min=0
       [value]="initialTickSpeed" />

<!-- I'm sorry for this, but I was lazy.. :) -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<label>
  Count Diff
</label>
<input #InputCountDiff
       style="width:60px"
       type="number"
       min=0
       [value]="initialCountDiff" />


<ng-template #digitTemplate
             let-something>
  <span class="position">
    <span class="digit static">
      {{something}}
    </span>
  </span>
</ng-template>
<ng-template #countDiv>
  <span class="countDiv"></span>

</ng-template>
