/* You can add global styles to this file, and also import other style files */
body {
  font: 16px/1 'Roboto', sans-serif;
  color: #000;
  background: #eee;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
